/* Style de la fenêtre principale */
#main-window {
    background-color: #272727;
    border: 3px solid #a078d4;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

/* Style pour ma page */
#vbox {
    margin: 5px;
}

/* Style de base pour mes éléments */
#info-label, #prompt-label, #entry {
    background-color: transparent;
    color: #ffffff;
    font-family: "Ubuntu Mono", "Fira Code", "Consolas", monospace;
    font-size: 14px;
    font-weight: bold;
    border: none;
    margin: 0 0 2px 0;
    padding: 0;
}

/* Style de mon "prompt-label" */
#prompt-label {
    color: #a078d4;
    margin-right: 8px;
}

/* Style du champ d'entrée */
#entry {
    caret-color: #a078d4;
    box-shadow: none;
    outline: none;
    min-height: 0;
}

/* Supprimer les bordures et focus visuels */
#entry:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

/* Change la couleur lors d'une selection de texte */
#entry selection {
    background-color: #a078d4;
    color: #272727;
}